@import 'utilities.css';
:root {
    --primary: #3DCFD3;
    --dark: #161616;
    --pure: #FFFFFF;
    --ternary: #898989;
    --light: #F2F2F2;
    --secondary: #070606;
}

body {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
}

header {
    background: var(--dark);
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a {
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

header nav .left a:hover {
    color: var(--primary);
}

header nav {
    padding: 2rem 0;
}

.hero {
    padding: 3rem 0;
}

.hero .left img {
    width: 400px;
}

.hero .right {
    color: var(--pure);
}

.hero .right h6 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.hero .right h1 {
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero .right h1 span {
    color: var(--primary);
}

.hero .right p {
    line-height: 1.9;
    margin-bottom: 2rem;
}

.hero .right {
    margin-top: -3rem;
}

section {
    padding: 6rem 0;
}

section.about .about-me-img {
    height: 450px;
}

section.about h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span {
    color: var(--primary);
}

section.about h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about p {
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;
}

section.about .social {
    display: flex;
}

section.about .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-right: 0.6rem;
}

.section-heading {
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading span {
    color: var(--primary);
}

.section-heading+p {
    color: var(--ternary);
    font-family: 'Lato', sans-serif;
    margin-bottom: 4rem;
    text-align: center;
}

section.projects {
    background: var(--light);
}

section.projects .card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
}

section.projects .card-wrapper .card {
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

section.projects .card-wrapper .card img {
    position: absolute;
    top: -1rem;
}

section.projects .card-wrapper .card a {
    text-decoration: none;
    text-align: center;
}

section.projects .card-wrapper .card p {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}

section.projects .card-wrapper .card h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

section.projects .card-wrapper .card:hover {
    background: var(--dark);
}

section.projects .card-wrapper .card:hover h2,
section.projects .card-wrapper .card:hover p {
    color: var(--pure);
}

.skills .bar {
    margin: 20px 0;
}

.skills .bar:first-child {
    margin-top: 0px;
}

.skills .bar .info {
    margin-bottom: 5px;
}

.skills .bar .info span {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.skills .bar .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background: var(--ternary);
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
    height: 100%;
    width: 80%;
    background: var(--primary);
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-line.sqa span {
    width: 95%;
}

.progress-line.dm span {
    width: 90%;
}

.progress-line.pl span {
    width: 85%;
}

.progress-line.wd span {
    width: 80%;
}

.progress-line.dmi span {
    width: 75%;
}

.bar .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progress-line span::after {
    position: absolute;
    content: "80%";
    right: 0;
    top: -28px;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.progress-line.sqa span::after {
    content: "95%";
}

.progress-line.dm span::after {
    content: "90%";
}

.progress-line.pl span::after {
    content: "85%";
}

.progress-line.wd span::after {
    content: "80%";
}

.progress-line.dmi span::after {
    content: "75%";
}

section.contacts {
    background: var(--light);
}

section.contacts .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

section.contacts .card-wrapper .card {
    text-align: center;
}

section.contacts .card-wrapper .card img {
    margin-top: 1rem;
    margin-bottom: .2rem;
}

section.contacts .card-wrapper .card h1 {
    font-weight: 400;
    margin-bottom: 1rem;
}

section.contacts .card-wrapper .card h6 {
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 4rem;
}

section.contacts .input-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

section.contacts .input-wrap-2 {
    display: flex;
    flex-direction: column;
}

section.contacts .input-wrap-2 input {
    margin-bottom: 2rem;
}

section.contacts input {
    padding: .5rem;
    border: 1px solid var(--light);
    font-size: .9rem;
}

section.contacts .input-wrap-2 textarea {
    padding: .5rem;
    border: 1px solid var(--light);
    font-size: .9rem;
}

section.contacts .input-wrap-2 textarea:focus,
section.contacts input:focus {
    outline: none;
}

section.contacts .btn-wrapper {
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 1rem;
}

#status {
    width: 90%;
    max-width: 100px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease delay forwards;
}

#status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease delay forwards;
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

footer {
    background: var(--dark);
    text-align: center;
    padding: 5rem 0;
}

footer .footer-socials a {
    margin-right: 1rem;
}

footer .footer-socials {
    margin-bottom: 3rem;
    margin-right: -1rem;
}

footer .copyright {
    color: var(--ternary);
}